body {
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

button.green-button {
    padding: 10px 16px;
    background-color: rgb(116,60,124);
    border-color: rgb(116,60,124);
    border-style: solid;
    border-radius: 15px;
}

button.green-button:hover{
  cursor: pointer;
  background: transparent;
}

h1.glow{
    text-shadow:1px 1px 10px rgb(116,60,124), 1px 1px 5px rgb(116,60,124);
}

.p1
{
    position: absolute;
    font-size: 45px;
    text-align: center;
    top: 10%;
    width: 100%;
    font-family: 'Arial', sans-serif;
}

.c2
{
    font-size: 30px;
    font-family: 'Arial', sans-serif;
    position: absolute;
    top: 20%;
    text-align: center;
    width: 100%;
}

.c3
{
    font-size: 17;
    font-family: 'Arial', sans-serif;
    position: absolute;
    width: 120x;
    margin-left: 50%;
    top: 75%;
}

.c4
{
    font-size: 17;
    font-family: 'Arial', sans-serif;
    position: absolute;
    left: 48.5%;
    top: 80%;
}

header h1{

    font-size: 35px;
    font-weight: 400;
    background-image: linear-gradient(to right, #00a2ff 0%, #ffffff 70%);
    font-family: 'Roboto', sans-serif;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

}


.center-hr {
    display: flex;
    justify-content: center;
    color: #fcfcfc;
    background-color: #ffffff;
    height: 2px;
}
  
.center-hr hr {
    width: 50%;
}