.p1
{
    position: absolute;
    font-size: 45px;
    text-align: center;
    top: 10%;
    width: 100%;
    font-family: 'Arial', sans-serif;
}

.c2
{
    font-size: 30px;
    font-family: 'Arial', sans-serif;
    position: absolute;
    top: 20%;
    text-align: center;
    width: 100%;
}

.c3
{
    font-size: 17;
    font-family: 'Arial', sans-serif;
    position: absolute;
    width: 120x;
    margin-left: 50%;
    top: 75%;
}

.c4
{
    font-size: 17;
    font-family: 'Arial', sans-serif;
    position: absolute;
    left: 48.5%;
    top: 80%;
}

header h1{

    font-size: 35px;
    font-weight: 400;
    background-image: linear-gradient(to right, #1e075c 0%, #ffffff 50%);
    font-family: 'Roboto', sans-serif;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

}

body {
    background-image: linear-gradient(to right, white 0%, rgb(21, 100, 153) 50%,rgb(3, 40, 88) 80%);
}