*,
*:before,
*:after{
  padding: 0;
  margin:0;
}

*{
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color:#2a2e36;
  font-family: sans-serif;
  height: 90vh;
  display: flex;

}

.dashboard {
  margin-left: 10%;
  flex: 1;
  width: 100%;
}

.container {
  display: flex;
}

.widget-column {
  height: 100%;
  width: 200px; /* Adjust the width as needed */
  background-color: #f0f0f0; /* Adjust the background color as needed */
  /* Add any additional styles for your widgets here */
}

.sidebar{
  height: 100vh;
  min-height: 500px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #16191e;
  overflow: hidden;
  transition: width 0.2s;
}
.sidebar:hover{
  width: 170px;
  overflow: visible;
}
img.logo{
  width: 50px;
  margin: 10px 0;
}
nav{
  height: 60vh;
  min-height: 300px;
}
ul{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
}
li a{
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
  text-decoration: none;
  font-family: 'Poppins',sans-serif;
  color: #cacaca;
}
li a:hover{
  background-image: linear-gradient(
      to right,
      #6f2ae6 7px,
      rgba(255,255,255,0.1) 7px
  );
  color: #ffffff;
}
i.fas{
  font-size: 20px;
  text-align: right;
}
li p{
  width: 75px;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0.3px;
}

/* Add additional styling as needed */

.panel{
  float: left;
  position: relative;
  padding: 20px;
  width: 20%;
  height: 90%;
  background: #3c414c;
  color: #8146e8bd;
  box-shadow: 0 50px 30px -15px #00000020;
  border-radius: 25px;
  margin: 5px;
}

.feed{
  float: left;
  position: relative;
  padding: 20px;
  width: 50%;
  height: 90%;
  background: #3c414c;
  color: #8146e8bd;
  box-shadow: 0 50px 30px -15px #00000020;
  border-radius: 25px;
  margin: 5px;
}

.panel-content h4 {
  font-size: 30px;
  font-weight: 300px;
}

h1 {
  color: whitesmoke;
  font-size: 50px;
  font-weight: 200px;
}

h3 {
  color:#bdb8b8
}
