<!DOCTYPE html>
<html>
  <head>
    <title>New Project</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/project_creation.css">
  </head>
  <body>
    <div class="testbox">
      <form action="./new_project" method="POST">
        <div class="banner">
          <h1>Create Project</h1>
        </div>
        <br/>
        <br/>
        <div class="colums">
          <div class="item">
            <label for="name">Project Name<span>*</span></label>
            <input id="name" type="text" name="name" required/>
          </div>
          
        <div class="item">
          <label for="desc">Project Description</label>
          <input id="desc" rows="3" name="desc" required></textarea>
        </div>
        
        <div class="btn-block">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>