<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/project_dash.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!--Font Awesome-->
    <link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Project Dashboard</title>
</head>
<body>
    <div class="sidebar">
        <nav>
            <ul>
                <li>
                    <a href="#">
                        <i class="fas fa-sign-in-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-laptop-code"></i>
                        <p>Projects</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-solid fa-user-group"></i>
                        <p>Friends</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                    <i class="fas fa-user"></i>
                    <p>Account</p>
                </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-gear"></i>
                        <p>Settings</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/img/canvas-logo.png" style="width: 30px; height: 30px; margin: -3px;">
                        <p style="color:rgb(255, 101, 101)">Canvas</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="dashboard">
        <h1 style="padding-top: 10px">Project-Name</h1>
        <h3>Project Dashboard</h3>
        <br>
        <div class="panel">
            <div class="panel-content">
                <strong><p class="panel-title">Files</p></strong>
                <div class="file-list">
                    <form method="POST" enctype="multipart/form-data">
                        <input name="file_upload" id="file_upload" type='file' accept=".pdf, .doc, .docx, .txt">
                        <input type="submit" value="Upload" />
                    </form>
                </div>
            </div>
        </div>
        <div class="feed">
            <div class="feed-content">
                <strong><p class="panel-title">Recent Changes</p></strong>
                <div class="widget">Change 1</div>
                <div class="widget">Change 2</div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-content">
                <strong><p class="panel-title">Collaborators</p></strong>
                <br>
                <div class="user-list">
                    <span class="user">
                        <i class="fas fa-circle-user"></i>
                        <p>User1</p>
                    </span>
                    <span class="user">
                        <i class="fas fa-circle-user"></i>
                        <p>User2</p>
                    </span>
                    <span class="user">
                        <i class="fas fa-circle-user"></i>
                        <p>User2</p>
                    </span>
                    <span class="user">
                        <i class="fas fa-circle-user"></i>
                        <p>User2</p>
                    </span>
                    <span class="user">
                        <i class="fas fa-circle-user"></i>
                        <p>User2</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="feed">
            <div class="feed-content">
                <strong><p class="panel-title">Tasks</p></strong>
                <div class="widget">Task 1<p>Assigned to: </p><i class="fas fa-circle-user"></i></div>
                <div class="widget">Task 2<i class="fas fa-circle-user"></i></div>
            </div>
        </div>
        <div class="feed">
            <div class="feed-content">
                <strong><p class="panel-title">Assignment</p></strong>
                <div class="widget">Task 1</div>
                <div class="widget">Task 2</div>
            </div>
        </div>
    </div>
</body>
</html>

