<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Page</title>
</head>
<body>

    <button class="green-button" type="submit" style="transform: translate(0%, 34%)">
        <a href="../session/dashboard" style="text-decoration:none; font-size: 3vh; color: white;"><b>Sign Up</b></a>
      </button>

</body>
</html>
